/* Coolors Exported Palette - https://coolors.co/04254e-052e6d-03488c-032f79-031232-d57e39-d54538-e09a8e-e5e5e5-07080e */

/* CSS HEX */
--oxford-blue: #04254Eff;
--royal-blue-dark: #052E6Dff;
--yale-blue: #03488Cff;
--st-patricks-blue: #032F79ff;
--oxford-blue-2: #031232ff;
--bronze: #D57E39ff;
--cg-red: #D54538ff;
--pastel-pink: #E09A8Eff;
--platinum: #E5E5E5ff;
--rich-black-fogra-39: #07080Eff;

/* CSS HSL */
--oxford-blue: hsla(213, 90%, 16%, 1);
--royal-blue-dark: hsla(216, 91%, 22%, 1);
--yale-blue: hsla(210, 96%, 28%, 1);
--st-patricks-blue: hsla(218, 95%, 24%, 1);
--oxford-blue-2: hsla(221, 89%, 10%, 1);
--bronze: hsla(27, 65%, 53%, 1);
--cg-red: hsla(5, 65%, 53%, 1);
--pastel-pink: hsla(9, 57%, 72%, 1);
--platinum: hsla(0, 0%, 90%, 1);
--rich-black-fogra-39: hsla(231, 33%, 4%, 1);

/* SCSS HEX */
$oxford-blue: #04254Eff;
$royal-blue-dark: #052E6Dff;
$yale-blue: #03488Cff;
$st-patricks-blue: #032F79ff;
$oxford-blue-2: #031232ff;
$bronze: #D57E39ff;
$cg-red: #D54538ff;
$pastel-pink: #E09A8Eff;
$platinum: #E5E5E5ff;
$rich-black-fogra-39: #07080Eff;

/* SCSS HSL */
$oxford-blue: hsla(213, 90%, 16%, 1);
$royal-blue-dark: hsla(216, 91%, 22%, 1);
$yale-blue: hsla(210, 96%, 28%, 1);
$st-patricks-blue: hsla(218, 95%, 24%, 1);
$oxford-blue-2: hsla(221, 89%, 10%, 1);
$bronze: hsla(27, 65%, 53%, 1);
$cg-red: hsla(5, 65%, 53%, 1);
$pastel-pink: hsla(9, 57%, 72%, 1);
$platinum: hsla(0, 0%, 90%, 1);
$rich-black-fogra-39: hsla(231, 33%, 4%, 1);

/* SCSS RGB */
$oxford-blue: rgba(4, 37, 78, 1);
$royal-blue-dark: rgba(5, 46, 109, 1);
$yale-blue: rgba(3, 72, 140, 1);
$st-patricks-blue: rgba(3, 47, 121, 1);
$oxford-blue-2: rgba(3, 18, 50, 1);
$bronze: rgba(213, 126, 57, 1);
$cg-red: rgba(213, 69, 56, 1);
$pastel-pink: rgba(224, 154, 142, 1);
$platinum: rgba(229, 229, 229, 1);
$rich-black-fogra-39: rgba(7, 8, 14, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #04254Eff, #052E6Dff, #03488Cff, #032F79ff, #031232ff, #D57E39ff, #D54538ff, #E09A8Eff, #E5E5E5ff, #07080Eff);
$gradient-right: linear-gradient(90deg, #04254Eff, #052E6Dff, #03488Cff, #032F79ff, #031232ff, #D57E39ff, #D54538ff, #E09A8Eff, #E5E5E5ff, #07080Eff);
$gradient-bottom: linear-gradient(180deg, #04254Eff, #052E6Dff, #03488Cff, #032F79ff, #031232ff, #D57E39ff, #D54538ff, #E09A8Eff, #E5E5E5ff, #07080Eff);
$gradient-left: linear-gradient(270deg, #04254Eff, #052E6Dff, #03488Cff, #032F79ff, #031232ff, #D57E39ff, #D54538ff, #E09A8Eff, #E5E5E5ff, #07080Eff);
$gradient-top-right: linear-gradient(45deg, #04254Eff, #052E6Dff, #03488Cff, #032F79ff, #031232ff, #D57E39ff, #D54538ff, #E09A8Eff, #E5E5E5ff, #07080Eff);
$gradient-bottom-right: linear-gradient(135deg, #04254Eff, #052E6Dff, #03488Cff, #032F79ff, #031232ff, #D57E39ff, #D54538ff, #E09A8Eff, #E5E5E5ff, #07080Eff);
$gradient-top-left: linear-gradient(225deg, #04254Eff, #052E6Dff, #03488Cff, #032F79ff, #031232ff, #D57E39ff, #D54538ff, #E09A8Eff, #E5E5E5ff, #07080Eff);
$gradient-bottom-left: linear-gradient(315deg, #04254Eff, #052E6Dff, #03488Cff, #032F79ff, #031232ff, #D57E39ff, #D54538ff, #E09A8Eff, #E5E5E5ff, #07080Eff);
$gradient-radial: radial-gradient(#04254Eff, #052E6Dff, #03488Cff, #032F79ff, #031232ff, #D57E39ff, #D54538ff, #E09A8Eff, #E5E5E5ff, #07080Eff);